body {
    font: 12px Roboto, sans-serif;
    margin: 0;
    color: #7b768a;
}
header {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
header img {
    height: 37px;
}
.list-two {
    display: flex;
}
.list li, .list-two li {
    list-style-type: none;
    text-align: right;
    padding: 4px 0px;
    font-weight: 600;
}
.top-icon {
    margin: 0;
    background-color: #fff;
    color: #7b768a;
    padding: 0 10px;
}
.list li a, .list-two li a {
    text-decoration: none;
    color: #7b768a;
}
nav a:visited {
    color: #3f3db2;
}
main {
    TEXT-ALIGN: CENTER;
}
#home {
    padding: 15px;
}
#home h1 {
    FONT-SIZE: 165%;
}
#home span {
    color: black;
}
p {
    line-height: 17px;
}
form {
    margin-bottom: 30px;
}
input {
    padding: 10px;
    width: 75%;
    border-radius: 25px;
    position: absolute;
    left: 10%;
    border-color: #e5e0e0;
    border-width: 1px;
    border-style: double;
    color: #7b768a;
}
.button {
    position: relative;
    left: 28%;
    border: 1px solid;
    border-radius: 25px;
    padding: 9px 20px 9px 20px;
    margin-top: 2px;
    display: inline-block;
    text-decoration: none;
    background-color: #3f3db2;
    color: #fff;
}
img {
    max-width: 100%;
}
.para-two {
    font-size: 10px;
}
.logo img {
    width: 15%;
    padding: 0 5px;
}
hr {
    color: #e5e0e0;
    background-color: #e5e0e0;
    border-style: solid;
    margin-top: 15px;
    width: 90%;
}
#product {
    margin-top: 40px;
} 
h2 {
    color: black;
    font-size: 15px;
}
#product-div {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.ticket {
    border-right: 1px solid #e5e0e0;
}
.ticket img {
    width: 45%;
}
.email img {
    width: 48%;
}
.ticket h3, .email h3 {
    font-size: 10px;
}
.button-two {
    position: none;
    left: 0;
    margin-top: 5px;
    box-shadow: 0 15px 10px -4px hsl(0, 0%, 72%);
}
.button-two:active {
    box-shadow: none;
}
#security {
    margin-top: 40px;
    background-color: #fcf9fd;
    padding: 12px;
}
.left-div-sec {
    border: 1px;
    border-radius: 8px;
    text-align: left;
    padding-left: 40px;
    width: 60%;
    margin: 0 auto;
    border-style: outset;
    border-color: white;
    margin-bottom: 15px;
    background-color: white;
}
.left-div-sec:hover{
    color: white;
    background-color: #3f3db2;
    box-shadow: 5px 15px 20px 3px hsl(0, 0%, 72%)
}
.left-div-sec h4 {
    margin-bottom: 0;
}
.left-div-sec p {
    width: 71%;
    margin-bottom: 10px;
}
.sec-features img {
    margin-top: 20px;
}
.integration {
    padding: 50px 15px;
}
.second{
    background-color: #eaeeff;
    text-align: center;
    width: 100%;
}
.leftpic img{
    height: auto;
    width: auto;
    display: inline-block;
    max-width: 80%;
}
.icons{
    box-shadow: 0 4px 8px 0 rgba(12,0,46,0.1);
    padding: 20px;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
}
.icons img{
    align-items: center;
}